<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[smile]</key>
	<string>smile</string>
	<key>[cake]</key>
	<string>cake</string>
	<key>[cry]</key>
	<string>cry</string>
	<key>[eat]</key>
	<string>eat</string>
	<key>[ok]</key>
	<string>ok</string>
	<key>[no]</key>
	<string>no</string>
</dict>
</plist>
